.back {
  width: 100%;
  min-height: 500px; 
  background-image: url("../assets/images/back.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.product .btn
{

  transition: tranform 1s ,opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}

.product:hover .btn
{
  opacity: 1;
  transform: translateY(0%);
  
}